extends layout.pug

block content
  .container
    .starter-div
      h1= title
      .row(data-ng-controller='priceController')
        .col-xs-3
          input.form-control(data-ng-model='yourPrice')
          p A te 치rad: {{calcOwnPrice(yourPrice) | currencyFilter}}
          p M치s 치ra: {{calcOtherPrice(yourPrice) | currencyFilter}}
          p Teljes 치r: {{yourPrice | currencyFilter}}

      .row(data-ng-controller='userController')
        .col-sm-12
          p {{yourPrice}}
          table(class='table table-hover')
            thead
              tr
                th(data-ng-repeat='th in ths') {{th}}
            tbody
              //new user
              tr
                td(data-ng-repeat='th in ths')
                  input.form-control(
                  data-ng-if='!$last && !$first'
                  data-ng-model='newUser[th]'
                  data-ng-class='{\'is-error\': formError[th]}'
                  )
                  button(
                  data-ng-if='$last'
                  type='button'
                  class='btn btn-success'
                  data-ng-click='insertRecord(newUser)') insert

              tr(data-ng-repeat='row in users track by $index')
                td {{row._id}}
                td
                  input.form-control(data-ng-model='row.name')
                td
                  input.form-control(data-ng-model='row.email')
                td
                  input.form-control(data-ng-model='row.phone')
                td
                  .btn-group(role='group')
                    button(
                    type='button'
                    class='btn btn-info'
                    data-ng-click='updateRecord(row)') refresh
                    button(
                    type='button'
                    class='btn btn-danger'
                    data-ng-click='deleteUser(row)') delete
